body {
  font-family: "Helvetica";
  font-size: 20px;
  background-color: #FBFACD;
  /*opacity: 0.7; wont work for bgimg bc it gets applied to elements*/
  /* background-image: url("./img/kitchen-pattern.jpg"); */

  margin: 0px;
  display: flex;
  flex-direction: column;

}

.header, .footer {
  font-family: "Snell Roundhand", Cursive; /*it works on mozilla :)*/
  font-size: 32px;
  color: white;
  background-color: #DEBACE;
  text-align: center;

  flex: none;
  margin: 0;
  margin-bottom: 16px;
  padding: 16px;
}
.header {
}
.footer {
font-size: 16px;
color: white;
}
.content {
 flex: 1;
}

p {
  text-align: justify;
}

#recipe {
  font-size: 30px;
}

h2, h3 {
  font-family: "Apple Chancery", Cursive;
  color: #BA94D1;
}

img {
  width: auto;
  height: 450px;
}